<div class="col-md-4" id="left-bar"></div>
<div class="col-md-6" id="middle">
  <div class="form-group">
    <%= form_for @manufacturer do |f| %>
    <label class="control-label"><%= f.label :name %>:

      <div class="form-control"><%= f.select :name, Manufacturer.names, include_blank: true %></div>

    <label class="control-label"><%= f.label :country %>:
      <div class="form-control"><%= f.text_field :country, placeholder: "Country" %></div>

    <%= f.submit "Save Manufacturer", method: :post%>
    <% end %>
  </div>
</div>
