<h1>Cars</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-4" id="left-bar">  </div>

    <div class="col-md-6" id="middle">
      <div>
        <% @cars.each do |car| %>
        <div class="media">
          <div class="media-body">
            <ul class="list-group">
              <li class="list-group-item"><h4 class="media-heading">Manufacturer: <%= car.manufacturer.name %></h4></li>
              <li class="list-group-item"><h4 class="media-heading">Color: <%= car.color %></h4></li>
              <li class="list-group-item"><h4 class="media-heading">Year: <%= car.year %></h4></li>
              <li class="list-group-item"><h4 class="media-heading">Mileage: <%= car.mileage %></h4></li>
              <li class="list-group-item"><h4 class="media-heading">Description: <%= car.description %></h4></li>
            </div>
            </ul>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
