<h1>Cars</h1>

<%= link_to "Add Car", new_car_path %>

<div>
  <% @cars.each do |car| %><hr>
    Make: <%= link_to car.make, car_path(car) %><br>
    Color: <%= car.color %><br>
    Year: <%= car.year %><br>
    Mileage: <%= car.mileage %><br>
    Description: <%= car.description %><br>
    Country: <%= car.country %><br>
  <% end %><br><hr>

</div>
